/* Comments */

.comment-box, .comment
{
	display: block;
	padding: 2em;
	margin: 2em;
	padding-bottom: 4em;
	border: 1px solid #ddd;
	font-family: "Noto Sans";
	background-color: #f3f3f3;
}

.comment-time
{
	font-style: italic;
	font-size: 0.9em;
	display: inline;
}

.comment-id
{
	float: right;
	font-size: 0.9em;
}

.comment-entry, .comment-entry:focus
{
	padding: 1px;
	border: none;
	background-color: #fefefe;
	border: 1px solid #ddd;
	outline: none;
	width: 100%;
}

#name-entry, .comment-poster
{
	font-weight: bold;
}

.tripcode
{
	color: #aaa;
}

/* Force name to be a single line */
#name-entry { white-space: nowrap; overflow: hidden; }
#name-entry br { display: none; }
#name-entry * { display: inline; white-space: nowrap; }

#comment-entry
{
	display: block;
	min-height: 5em;
	height: auto;
	margin-top: 4px;
}

.comment-button
{
	display:inline-block;
	background-color: #eee;
	color: #111;
	float: right;
	padding: 0.5em;
	font-size: 0.8em;
	border: solid #ccc 1px;
	font-family: "Noto Sans";
}

.comment-button:hover
{
	cursor: pointer;
	cursor: hand;
}
